.pwd__title{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    span{
        margin-left: 10px;
    }
}

.add__button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    .add__button__text{
        margin-right: 10px;
    }
}