// PAGES
@import "./Home";
@import "./Dashboard";
// COMPONENTS
@import "./Navbar";
@import "./Footer";

html
{
	font-family: "Roboto Cn", sans-serif;
    margin: 0;
    padding: 0;
}

body
{
    max-height: 100%;
    margin: 0;
    padding: 0;
}
